{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>关于我</h1>
            <span class="subheading">宇宙里的一粒微光</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi，我是余帆，生成在地球，亚洲区，中国服。N年前，一个地外文明发现了地球，他们发现地球非常适合繁衍碳基生物，于是把改造后的自身基因播撒在地球上，这在希腊神话中称为普罗米修斯的火种。地球生物第一次演化成了恐龙，地外文明并不满意这种低智商大体型的物种，用小行星撞地球毁灭了恐龙文明，直到现在的人类文明。</p>
        <p>地球生物基因的目标函数被设定为生存和繁衍，人类因为智力天赋点满，能够使用火，会说话，成为了百兽之王，到了现代，人类能量应用最高成就是核武器，信息应用最高成绩是互联网。地外文明在月球背面的基地里观察着地球人，像参观动物园一样，观察着人类，等待那一天的到来。</p>
        <p>而我。作为众多基因线的一个分支，经常在夜晚倚靠在阳台上，仰望星空，想，地外文明对地球人最终的目的是什么呢？人类会往哪个方向演进，210年前，地球没有电灯，200年后，地球会是什么样子？会不会有一天，地外文明降临地球，宣布宇宙的真正规则？人类生活在地球上，而地球成长在宇宙里。</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}